.add-user {
  margin: 0 auto;
  height: 200px;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px #ccc;
  font-size: 16px;
  color: blue;
  padding: 20px;
}

.display-users {
  margin: 20px auto;
  height: 300px;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px #ccc;
  font-size: 16px;
  color: blue;
  padding: 20px;
  overflow: auto;
}

.form-div input, .form-div button {
  width: 250px;
  height: 35px;
  display: block;
}

.margin-top {
  margin-top: 20px;
}

.item-list {
  margin: 20px;
  width: 250px;
  border-radius: 4px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  padding: 14px;
}